.sidebar {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-auto-columns: auto 1fr auto;
  align-items: start;
  background: #303030;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar-repository {
  display: grid;
  gap: 30px;
}

.sidebar-label {
  color: #fff;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}

.sidebar-label-icon {
  font-size: 25px;
}